<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
		<link rel="stylesheet" type="text/css" href="$siteroot/Content/css/global.css" />

		$!head

		#if(!$title)
			#set($title = "Untitled")
		#end

		<title>$title.Trim()</title>
	</head>

	<body>
		<div id="page">
			<div id="header"></div>
 
			<div id="content">
				<h1>$title.Trim()</h1>

				#if($errors)
                    <div class="errors">
                        <p>The following fields were not valid:</p>
                        <ul>
                            #foreach($failedProperty in $errors.FailedProperties)
                                <li>$failedProperty.Name</li>
                            #end
                        </ul>
                    </div>
                #end
				#if($success)
					<p class="success">$success</p>
				#end

				$childContent
			</div>
			
			<div id="footer"></div>
		</div>
	</body>
</html>