#capturefor(title)
	Edit Ticket
#end

<form action="/Tickets/Update" method="post">
	$form.hiddenfield("ticket.id")
	
	<p>
	    <label>Summary</label>
	    $form.textfield("ticket.summary")
	    <em>*</em>
	</p>
	<p>
	    <label>Body</label>
	    $form.textarea("ticket.body")
	    <em>*</em>
	</p>
	
	<p>
	    $form.submit("Save")
	    $url.link("Cancel", "%{action='Index'}")
	</p>
</form>